*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* navbar styling */
.navbar .logo a{
    font-size: 35px;
    color: #fff;
    font-weight: 600;
}
.navbar{
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    transition: all 0.3s ease;
    z-index: 999;
    padding: 30px 0;
    width: 100%;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
/* home section styling */
.home{
    display: flex;
    background: url("../images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 30px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(245, 249, 4);
    background: none;
}
a
{
    text-decoration: none;
}